* {box-sizing: border-box;}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #111111;
  margin: 0;
}

.mform {
  max-width:500px;
  margin:auto;
  padding: 8px;
}

.simg {
  padding: 50px 0px 20px 0px;
}

.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding: 8px;
}

.success {
  background-color: #ddffdd;
  border-left: 6px solid green;
  padding: 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: green;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid green;
}

/* Set a style for the submit button */
.btn-sends {
  background-color: green;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn-sends:hover {
  opacity: 1;
}